<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Allume Code Test</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('logs') }}">Logs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('users') }}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('slots') }}">Slots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('appointments') }}">Appointments</a>
            </li>
        </ul>
    </nav>
</div>
